[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ardlverse"]
	path = ardlverse
	url = https://github.com/muhammedalkhalaf/ardlverse
[submodule "xtdhcoint"]
	path = xtdhcoint
	url = https://github.com/muhammedalkhalaf/xtdhcoint
