[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SVARtca"]
	path = SVARtca
	url = https://github.com/muhammedalkhalaf/svartca
[submodule "ardlverse"]
	path = ardlverse
	url = https://github.com/cran/ardlverse
[submodule "boundedur"]
	path = boundedur
	url = https://github.com/muhammedalkhalaf/boundedur
[submodule "caustests"]
	path = caustests
	url = https://github.com/muhammedalkhalaf/caustests
[submodule "cointests"]
	path = cointests
	url = https://github.com/muhammedalkhalaf/cointests
[submodule "cointsmall"]
	path = cointsmall
	url = https://github.com/muhammedalkhalaf/cointsmall
[submodule "fbardl"]
	path = fbardl
	url = https://github.com/muhammedalkhalaf/fbardl
[submodule "fqardl"]
	path = fqardl
	url = https://github.com/cran/fqardl
[submodule "hatemicoint"]
	path = hatemicoint
	url = https://github.com/muhammedalkhalaf/hatemicoint
[submodule "mvardlurt"]
	path = mvardlurt
	url = https://github.com/muhammedalkhalaf/mvardlurt
[submodule "paneltests"]
	path = paneltests
	url = https://github.com/cran/paneltests
[submodule "qadf"]
	path = qadf
	url = https://github.com/muhammedalkhalaf/qadf
[submodule "qardlr"]
	path = qardlr
	url = https://github.com/muhammedalkhalaf/qardlr
[submodule "rbfmvar"]
	path = rbfmvar
	url = https://github.com/muhammedalkhalaf/rbfmvar
[submodule "tptest"]
	path = tptest
	url = https://github.com/muhammedalkhalaf/tptest
[submodule "unitrootests"]
	path = unitrootests
	url = https://github.com/muhammedalkhalaf/unitrootests
[submodule "xtbhst"]
	path = xtbhst
	url = https://github.com/muhammedalkhalaf/xtbhst
[submodule "xtbreakcoint"]
	path = xtbreakcoint
	url = https://github.com/muhammedalkhalaf/xtbreakcoint
[submodule "xtcspqardl"]
	path = xtcspqardl
	url = https://github.com/muhammedalkhalaf/xtcspqardl
[submodule "xtdhcoint"]
	path = xtdhcoint
	url = https://github.com/muhammedalkhalaf/xtdhcoint
[submodule "xtfifevd"]
	path = xtfifevd
	url = https://github.com/muhammedalkhalaf/xtfifevd
[submodule "xtpqardl"]
	path = xtpqardl
	url = https://github.com/muhammedalkhalaf/xtpqardl
[submodule "xtrec"]
	path = xtrec
	url = https://github.com/muhammedalkhalaf/xtrec
