[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ardlverse"]
	path = ardlverse
	url = https://github.com/muhammedalkhalaf/ardlverse
[submodule "boundedur"]
	path = boundedur
	url = https://github.com/muhammedalkhalaf/boundedur
[submodule "caustests"]
	path = caustests
	url = https://github.com/muhammedalkhalaf/caustests
[submodule "fbardl"]
	path = fbardl
	url = https://github.com/muhammedalkhalaf/fbardl
[submodule "fqardl"]
	path = fqardl
	url = https://github.com/muhammedalkhalaf/fqardl
[submodule "hatemicoint"]
	path = hatemicoint
	url = https://github.com/muhammedalkhalaf/hatemicoint
[submodule "mvardlurt"]
	path = mvardlurt
	url = https://github.com/muhammedalkhalaf/mvardlurt
[submodule "qardlr"]
	path = qardlr
	url = https://github.com/muhammedalkhalaf/qardlr
[submodule "xtbhst"]
	path = xtbhst
	url = https://github.com/muhammedalkhalaf/xtbhst
[submodule "xtbreakcoint"]
	path = xtbreakcoint
	url = https://github.com/muhammedalkhalaf/xtbreakcoint
[submodule "xtcspqardl"]
	path = xtcspqardl
	url = https://github.com/muhammedalkhalaf/xtcspqardl
[submodule "xtdhcoint"]
	path = xtdhcoint
	url = https://github.com/muhammedalkhalaf/xtdhcoint
[submodule "xtpqardl"]
	path = xtpqardl
	url = https://github.com/muhammedalkhalaf/xtpqardl
